<mdl-card mdl-shadow="2">
  <mdl-card-title>
    <h2 mdl-card-title-text>Create Todo</h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    <!-- TODO: begin -->
    <form>
      <p>
        TODO
        <mdl-textfield label="Title" type="text" floating-label></mdl-textfield>
      </p>
      <p>
        TODO
        <mdl-textfield label="Description" type="text" floating-label></mdl-textfield>
      </p>
      <p>
        <button
          mdl-button mdl-button-type="raised" mdl-ripple mdl-colored="primary"
        >
          Submit TODO
        </button>
      </p>
    </form>
    <!-- TODO: end -->
  </mdl-card-supporting-text>
</mdl-card>
