<h5>Real Estates</h5>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col graybox">
    <!--<nts-google-map-->
      <!--[geoObjects]="service.realEstates$"-->
      <!--[selected]="service.selectedRealEstate"-->
      <!--(markerClick)="onRealEstateClick($event)"-->
    <!--&gt;</nts-google-map>-->
  </div>
  <div class="mdl-cell mdl-cell--4-col graybox">
    <!--<nts-details [item]="service.selectedRealEstate"></nts-details>-->
  </div>
  <div class="mdl-cell mdl-cell--12-col graybox">
    <!--<nts-data-table-->
      <!--[items]="service.realEstates$ | async"-->
      <!--[selectedItem]="service.selectedRealEstate"-->
      <!--[metaData]="listHeaders"-->
      <!--(itemClick)="onRealEstateClick($event)"-->
    <!--&gt;</nts-data-table>-->
  </div>
</div>
