<div class="car-configurator">
  <h5>CarConfigurator</h5>
  <div class="chosen-config">
    <h5>Current config</h5>
    <p>Engine: TODO</p>
    <p>Color: TODO</p>
    <p>Drive Wheel: TODO</p>
  </div>
  <div>
    <!--<nts-option-picker-->
      <!--[label]="'Choose engine type'"-->
      <!--[options]="engines"-->
      <!--(optionSelect)="selectEngine($event)"-->
    <!--&gt;</nts-option-picker>-->
    <!--<nts-option-picker-->
      <!--[label]="'Select color'"-->
      <!--[options]="colors"-->
      <!--(optionSelect)="selectColor($event)"-->
    <!--&gt;</nts-option-picker>-->
    <!--<nts-option-picker-->
      <!--[label]="'Your drive wheel?'"-->
      <!--[options]="driveWheels"-->
      <!--(optionSelect)="selectDriveWheel($event)"-->
    <!--&gt;</nts-option-picker>-->
  </div>
</div>
